<?xml version="1.0"?>
<configuration>
  <appSettings>
     <!--Windows Azure AD tenant domain name--> 
    <add key="TenantDomainName" value="To be filled in"/>
     <!--Service principal credentials-->  
    <add key="AppPrincipalId" value="To be filled in"/>
    <add key="AppPrincipalPassword" value="To be filled in"/>
    <add key="AppVersion" value=""/>
    <!-- Polling interval in seconds -->
    <add key="PullIntervalSec" value="60"/>
    <add key="EntitySet" value="users"/>
  </appSettings>
</configuration>
