<?xml version="1.0"?>
<configuration>
  <appSettings>
     <!--Windows Azure AD tenant domain name--> 
    <add key="TenantDomainName" value="To be filled in"/>
     <!--Service principal credentials-->  
    <add key="AppPrincipalId" value="edd4904c-ac06-4f13-b8b5-9ec799e82bd3"/>
    <add key="AppVersion" value=""/>
    <!-- Polling interval in seconds -->
    <add key="PullIntervalSec" value="60"/>
    <add key="EntitySet" value="users"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
